In [1]:
import pandas as pd

In [82]:
data = pd.read_csv("./wildlife-strikes/database.csv")
data

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
2,129780,1990,1,2,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174099,366091,2015,9,30,SWA,SOUTHWEST AIRLINES,B-737-700,A,148,42,...,0,0,0,0,0,0,0,0,0,0
174100,365902,2015,9,30,SWA,SOUTHWEST AIRLINES,B-737-700,A,148,42,...,0,0,0,0,0,0,0,0,0,0
174101,365903,2015,9,30,BUS,BUSINESS,CITATIONJET,A,226,49,...,1,1,0,0,0,0,0,0,0,0
174102,366046,2015,9,30,QXE,HORIZON AIR,DHC8 DASH 8,A,303,10,...,1,0,0,0,0,0,0,0,0,0
174103,365823,2015,9,30,AWI,AIR WISCONSIN AIRLINES,CRJ100/200,A,188,10,...,0,0,0,0,0,0,0,0,1,0

In [83]:
strike = data[['Windshield Damage', 'Nose Damage', 'Engine1 Damage', 'Engine2 Damage', 'Engine3 Damage', 'Engine4 Damage', 'Propeller Damage', 'Wing or Rotor Damage', 'Fuselage Damage', 'Landing Gear Damage', 'Tail Damage', 'Lights Damage', 'Other Damage']]
strike

,Windshield Damage,Nose Damage,Engine1 Damage,Engine2 Damage,Engine3 Damage,Engine4 Damage,Propeller Damage,Wing or Rotor Damage,Fuselage Damage,Landing Gear Damage,Tail Damage,Lights Damage,Other Damage
0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
174099,0,0,0,0,0,0,0,0,0,0,0,0,0
174100,0,0,0,0,0,0,0,0,0,0,0,0,0
174101,0,0,0,0,0,0,0,0,1,0,0,0,0
174102,0,0,0,0,0,0,0,0,0,0,0,0,0
174103,0,0,0,0,0,0,0,0,0,0,0,0,0

In [128]:
bs = pd.DataFrame(data.groupby('Species Name').count()['Record ID'])
bs.columns = ['No of planes damaged']
bs

                           No of planes damaged
Species Name
ACADIAN FLYCATCHER                            5
ALDER FLYCATCHER                             11
ALLEN'S HUMMINGBIRD                           1
ALLIGATOR SNAPPING TURTLE                     1
AMERICAN ALLIGATOR                           19
...                                         ...
YELLOW-THROATED VIREO                         2
YELLOW-THROATED WARBLER                      19
YUMA MYOTIS                                   1
ZEBRA DOVE                                  290
ZENAIDA DOVE                                  4

[715 rows x 1 columns]

In [129]:
ans1 = bs[bs['No of planes damaged'] == bs['No of planes damaged'].max()]
ans1

                     No of planes damaged
Species Name
UNKNOWN MEDIUM BIRD                 38531

In [135]:
print("Bird species which has caused the most damage to airplanes is", ans1.index.values[0])

Bird species which has caused the most damage to airplanes is UNKNOWN MEDIUM BIRD

In [101]:
damage = []
for i, j in strike.iteritems(): 
    part = [i]
    part.append(j.sum())
    damage.append(part)

ti = pd.DataFrame(damage)
ti.columns = ['Part', 'Strikes']
ti

                    Part  Strikes
0      Windshield Damage     1037
1            Nose Damage     1145
2         Engine1 Damage     2515
3         Engine2 Damage     2023
4         Engine3 Damage      169
5         Engine4 Damage       74
6       Propeller Damage      579
7   Wing or Rotor Damage     4180
8        Fuselage Damage      824
9    Landing Gear Damage     1012
10           Tail Damage      727
11         Lights Damage      734
12          Other Damage     1565

In [112]:
ans2 = ti[ti["Strikes"] == ti["Strikes"].max()]
ans2

                   Part  Strikes
7  Wing or Rotor Damage     4180

In [138]:
print("Part of the airplane which is most prone to damage in wildlife strikes is", ans2.at[7, 'Part'])

Part of the airplane which is most prone to damage in wildlife strikes is Wing or Rotor Damage